.component {
  display: block;
  outline: 0;
  border: 0;
  padding: .5em 1em;
  font-family: inherit;
  background-color: #999;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}

.primary {
  background-color: #6670D9;
  color: white;
}

.reject {
  background-color: #ee5253;
  color: white;
}

.disabled {
  cursor: not-allowed;
  opacity: .5;
}
