$color-border: #f0f0f0;

.dialog {
  padding: 1em;
}

.content {
  border-radius: 2px;
}

.header {
  padding: 1em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 12px;
  border-bottom: 1px solid $color-border;
  background-color: darken(white, 3%);
}

.body {
  padding: 1em;
  border-bottom: 1px solid $color-border;
}

.footer {
  padding: 1em;
  display: flex;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-end;

  > :not(:last-child) {
    margin-right: .25rem;
  }
}
