:global {
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #212529;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  input {
    display: block;
    width: 100%;
    border: 1px solid darken(white, 5%);
    padding: .6em;
    border-radius: 2px;
    font-family: inherit;
    outline: 0;
    font-size: 14px;
  }

  form {
    margin-bottom: 0;
  }

  .form-field {
    margin-bottom: 1em;
  }
}
