.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  background-color: lighten(#6670D9, 35%);
  border-bottom: 1px solid lighten(#6670D9, 30%);
}

.content {
  max-width: 1040px;
  padding: 1em;
  margin: 0 auto;

  h1 {
    margin-bottom: .3em;
  }
}

.section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #f0f0f0;

  &:last-child {
    border-bottom: 0;
  }
}

.subSection {
  p {
    color: #999;
  }
}
